
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Kamtanath IT and Geospatial Solution</title>
    @Styles.Render("~/bundles/LoginLayoutCss")
    <link href="~/MainPage/bootstrap.min.css" rel="stylesheet" />
    <link href="~/MainPage/style.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)
    <style>
        #spinner {
            display:none !important;
        }
    </style>
</head>

<body>
    @Html.Partial("_MasterHeader")
    @RenderBody()
    @{ Html.RenderPartial("_MasterFooter");}

    @Scripts.Render("~/bundles/jquery", "~/bundles/LoginLayoutjs", "~/bundles/validateJs", "~/bundles/globalJs")
    @RenderSection("Scripts", required: false)

</body>

</html>
