
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Kamtanath IT and Geospatial Solution</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    @Styles.Render("~/bundles/LoginLayoutCss")
    @RenderSection("Styles", required: false)

</head>
<body class="skin-blue sidebar-mini mainbodycontent">


    <div class=" container-scroller">
        <!-- partial:partials/_navbar.html -->
        @Html.Partial("_Header")

        <!-- partial -->
        <div class="container-fluid">
            <div class="row row-offcanvas row-offcanvas-right">
                <!-- partial:partials/_sidebar.html -->
                @Html.Partial("_SideBar")

                <!-- partial -->
                <div class="content-wrapper">
                    @RenderBody()
                </div>
                <script type="text/javascript">
                var domain = "@KGS.Web.Code.LIBS.SiteKeys.Domain";
               
                </script>
                <!-- partial:partials/_footer.html -->
                @{ Html.RenderPartial("_Footer");}

                <!-- partial -->
            </div>
        </div>

    </div>

    @Scripts.Render("~/bundles/jquery", "~/bundles/bootstrap", "~/bundles/LoginLayoutjs","~/bundles/validateJs", "~/bundles/globalJs")
    @RenderSection("Scripts", required: false)

</body>
</html>


