@model KGS.DTO.SelectionModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

@section styles{
    <link href="~/Content/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap-switch.css" rel="stylesheet" />
    <link href="~/Content/alertify/alertify.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/buttons/3.1.1/css/buttons.bootstrap4.css" rel="stylesheet" />

}
<style>
</style>
<div class="col-sm-12">
    <div> @Html.Partial("_MessageNotification")</div>
</div>
<div class="row mb-2">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title mb-4">
                    Geo Records

                    <a style="float: right; margin-right: 10px; " title="Upload New File" id="addModal" data-toggle="modal" data-backdrop="static" data-target="#modal-add-record" class="btn btn-primary">
                        <i class="fa fa-plus"></i>&nbsp; Add
                    </a>

                    <a style="float: right; margin-right: 10px; " title="Upload New File" id="addEditbrandModal" data-toggle="modal" data-backdrop="static"  data-target="#modal-import-record" class="btn btn-primary">
                        <i class="fa fa-download"></i>&nbsp; Import
                    </a>

                    <a style="float: right; margin-right: 10px; color:white" id="btnExporttoexcel" class="btn btn-primary">
                        <i class="fa fa-file-excel-o"></i>&nbsp; Xls
                    </a>
                    @if (CurrentUser.IsInRole(UserRoles.SuperAdmin))
                    {
                        <a style="float: right; margin-right: 10px; color: white" id="downloadKML" class="btn btn-primary">
                            <i class="fa fa-file-code-o"></i>&nbsp; Kml
                        </a>
                    }



                </h5>
                <div class="row rowhead">
                    <div class="col-md-3 col-lg-3">
                        <div class="form-group">
                            <label>Select District</label>
                            @Html.DropDownListFor(model => model.SelectedDistrict, Model.DistrictDataList, "Select District", htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3">
                        <div class="form-group">
                            <label>Select Block</label>
                            @Html.DropDownListFor(model => model.SelectedBlock, Model.BlockDataList, "Select Block", htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3">
                        <div class="form-group">
                            <label>Select Gram Panchayat</label>
                            @Html.DropDownListFor(model => model.SelectedGP, Model.GPDataList, "Select GP", htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2">
                        <label> &nbsp;   </label>
                        <label class="custom-checkbox">
                            <input type="checkbox" id="showAll" data-off="danger" value="1">
                            <span class="checkbox-label">Show All</span>
                        </label>
                    </div>
                    <div class="col-md-1 col-lg-1">
                        <label> &nbsp;   </label>
                        <a class="btn btn-primary" id="loadMapBtn" style="color: white;" title="click to load map">Get Data</a>

                    </div>

                </div>

                <div class="table-responsive" style="overflow:scroll !important">
                    <table id="grid-records" class="table table-bordered table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>FID</th>
                                <th width="2%">#</th>
                                <th>DISTRICT</th>
                                <th>BLOCK</th>
                                <th>GP</th>
                                <th>VILLAGE</th>
                                <th>HABITATION</th>
                                <th>LATITUDE</th>
                                <th>LONGITUDE</th>
                                <th>PROPERTYID</th>
                                <th>PROPERTYTYPE</th>
                                <th>NUMBEROFFLOORS</th>
                                <th>CONSTRUCTIONTYPE</th>
                                <th>CONSUMERNAME</th>
                                <th>PHONENO</th>
                                <th>FAMILYCOUNT</th>
                                <th>WATERSUPPLYTYPE</th>
                                <th>SUPPLYINHOURS</th>
                                <th>NUMBEROFCONNECTIONS</th>
                                <th>REMARKS</th>
                                <th>STATUS</th>
                                <th>SURVEYORLOCATION</th>
                                <th>USERNAME</th>
                                <th>NUMBEROFROOM</th>
                                <th>CONNECTIONTYPE</th>
                                <th>ACTION</th>

                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot></tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



@Html.Partial("_Modal", new Modal { ID = "modal-delete-record", AreaLabeledId = "modal-delete-record-label", Size = ModalSize.Medium })
@Html.Partial("_Modal", new Modal { ID = "modal-import-record", AreaLabeledId = "modal-import-record-label", Size = ModalSize.Medium })
@Html.Partial("_Modal", new Modal { ID = "modal-add-record", AreaLabeledId = "modal-add-record-label", Size = ModalSize.Large })
@Html.Partial("_Modal", new Modal { ID = "modal-add-record-edit", AreaLabeledId = "modal-add-record-edit-label", Size = ModalSize.Large })
@*<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Understood</button>
                </div>
            </div>
        </div>
    </div>*@

@section scripts{
    <script type="text/javascript">
        var currentuserId='@CurrentUser.Roles[0]';

    </script>

    <script src="~/Scripts/bootstrap-switch.js"></script>
    <script src="~/Scripts/alertify/alertify.js"></script>
    <script src="~/Scripts/jquery.dataTables.js"></script>
    <script src="~/Scripts/dataTables.bootstrap4.js"></script>
    <script src="~/Scripts/datatable-extension/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/jszip.min.js"></script>
    <script src="~/Scripts/datatable-extension/pdfmake.min.js"></script>
    <script src="~/Scripts/datatable-extension/buttons.html5.min.js"></script>
    <script src="~/Scripts/datatable-extension/buttons.print.min.js"></script>
    <script src="~/Scripts/CustomJs/georecord-index.js"></script>
}

