@model KGS.Dto.SignUpModel

@{

    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<!-- /.login-box -->


    <div class="container-fluid">
        
        <div class="row">

            <div class="content-wrapper full-page-wrapper d-flex align-items-center auth-pages">
                <div class="card col-lg-4 mx-auto">
                    <div class="card-body px-5 py-5">
                        <div> @Html.Partial("_MessageNotification")</div>
                        <div class="text-center">
                            <img src="~/images/logo_inner.png" height="100px" width="100px" />
                        </div>
               
                        <h3 class="card-title text-center mb-3">Register Here<br />
                                                                           <small class="small-font">Complete the fields below to create your account.</small></h3>
                        
                        <form action="@Url.Action("Registeration", "Account")" autocomplete="off" method="post" id="formSignup">
                            @Html.AntiForgeryToken()
                            <div id="validation-summary"></div>
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.FirstName, true, null, new { @maxlength = "50", @class = "form-control p_input", placeholder = "First Name", @autocomplete = "off" })

                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.LastName, true, null, new { @maxlength = "50", @class = "form-control p_input", placeholder = "Last Name", @autocomplete = "off" })

                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.EmailAddress, true, null, new { @maxlength = "100", @class = "form-control p_input", placeholder = "Email Address", @autocomplete = "off" })

                            </div>
                            <div class="form-group">
                                @Html.PasswordFor(model => model.Password, true, new { @maxlength = "20", @class = "form-control p_input", placeholder = "Password", @autocomplete = "off" })

                            </div>

                            <div class="form-group">
                                @Html.PasswordFor(model => model.ConfirmPassword, true, new { @maxlength = "20", @class = "form-control p_input", placeholder = "Confirm Password", @autocomplete = "off" })

                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.PhoneNumber, true, null, new { @maxlength = "10", @class = "form-control p_input", placeholder = "10 digit mobile number", @autocomplete = "off", @onDrag = "return false", @onPaste = "return false" })

                            </div>


                            <div class="text-center">
                                <button type="submit" class="btn btn-primary btn-block enter-btn">Submit</button>
                            </div>
                            <p class="Or-login-with my-3">Or signup with</p>
                            <div class="text-center">
                                <a href="@Url.Action("login","Account")" class="btn btn-facebook btn-block">Go To Login Page</a>
                            </div>
                            

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


@section Scripts{
    @Scripts.Render("~/js/CustomJs/Register/user-register.js")
}



